@tailwind base;
@tailwind components;
@tailwind utilities;




 body {
  margin: 0;

  @apply font-sans;
   
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; 

}

@layer components{

  .btn-custom {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }

  .flex-start {
    @apply flex flex-col place-items-start;
  }

  .input-label {
    @apply text-sm text-black;
  }

  .input-field {
    @apply outline-blue-400 border border-opacity-40 border-gray-400 rounded-md text-sm py-2 px-3 w-full hover:bg-white;
  }
  
}


/* 
@layer components {
  .custom-div {
    @apply relative pt-3 pb-8 px-4  bg-white rounded-md custom-shadow-1 flex flex-col place-items-start gap-3;
  }
 
 

} */
