@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove spinners in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinners in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

.custom-shadow-1 {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
}

@layer components{
  .custom-div {
    @apply pt-3 pb-8 px-4  bg-white rounded-md custom-shadow-1 flex flex-col place-items-start gap-3;
  }

  .btn-custom {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }

  .flex-start {
    @apply flex flex-col place-items-start;
  }

  .input-label {
    @apply text-sm text-black;
  }

  .input-field {
    @apply outline-blue-400 border border-opacity-40 border-gray-400 rounded-md text-sm py-2 px-3 w-full hover:bg-white;
  }
  
}


/* 
@layer components {
  .custom-div {
    @apply relative pt-3 pb-8 px-4  bg-white rounded-md custom-shadow-1 flex flex-col place-items-start gap-3;
  }
 
 

} */
