
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type="file"]::file-selector-button{
    background-color: #1F2937;
    color:white;
    outline:none;
    border:none;
    padding: 8px 16px;
    margin-right: 16px
}
  
@layer components{
    .flex-start{
        @apply flex flex-col place-items-start;
    }
    .input-field{
        @apply outline-blue-400 border border-opacity-40 border-gray-400 rounded-md text-sm py-2 px-3 w-full hover:bg-white-600
    }
    .input-label{
        @apply text-sm text-black-700 
    }

}